@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter:wght@300;400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&family=Raleway:wght@300;400;500;600;700;800;900&family=Readex+Pro:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Urbanist:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

/* body ::-webkit-scrollbar {
  height: 17px;
} */

/* body ::-webkit-scrollbar-track {
  background: #ce778b;
}

body ::-webkit-scrollbar-thumb {
  background-color: #495670;
  border: 3px solid #535352;
  border-radius: 10px;
} */
@import "react-alice-carousel/lib/alice-carousel.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
